#header_button {
	background-color:#f04848;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:4px solid #a80505;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:15px 15px;
	text-decoration:none;
	text-shadow:6px -2px 24px #2f6627;
}
#header_button:hover {
	background-color:#e66e6e;
}
#header_button:active {
	position:relative;
	top:1px;
}
#titulo{
text-shadow:-1px 6px 2px rgba(173,169,163,1);
font-weight:bold;color:#000000;
letter-spacing:1pt;word-spacing:4pt;
font-size:36px;
text-align:left;
font-family:verdana, sans-serif;
line-height:2;
}
.buttonconfig {
	-moz-box-shadow: 0px 0px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background-color:#f55656;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:3px solid #943535;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:10px 34px;
	text-decoration:none;
}
.buttonconfig:hover {
	background-color:#7a2020;
}
.buttonconfig:active {
	position:relative;
	top:1px;
}
.textconfig {
font-weight:bold;
font-style:oblique;
color:#000000;
letter-spacing:1pt;
word-spacing:2pt;
font-size:21px;
text-align:left;
font-family:arial, helvetica, sans-serif;
line-height:1;
}

.emaildata , .passdata{

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 9px 16px 9px 10px;
  border: 2px solid #b7b7b7;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font: normal 17px/normal "Times New Roman", Times, serif;
  color: rgba(44,47,48,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(242,222,222,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.emaildata{
	width: 6cm;
}
#passsubmit,#emailsubmit {

	background-color:#b32727;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:2px solid #610505;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:8px 22px;
	text-decoration:none;
}
#passsubmit:hover,#emailsubmit:hover {
	background-color:#d65c5c;
}
#passsubmit:active , #emailsubmit:active{
	position:relative;
	top:1px;
}
#passsubmit:disabled {
	background-color:#b32727;
}
#emailsubmit:disabled {
	background-color:#b32727;
}
#header,#contenido{
	border:5px solid #9f2121;
	border-radius:11px;
-moz-border-radius:11px;
-webkit-border-radius:11px;
}
th{
	font-weight:bold;
font-style:oblique;
color:#D9D9D9;
letter-spacing:2pt;
word-spacing:2pt;
font-size:23px;
text-align:left;
font-family:arial, helvetica, sans-serif;
line-height:1;

border-bottom-style: solid;
border-bottom-color: #D9D9D9;
border-bottom-width: 5px;

}
#nombre{
font-weight:bold;
font-style:oblique;
color:#D9D9D9;
letter-spacing:1pt;
word-spacing:-3pt;
font-size:28px;
text-align:left;
font-family:arial, helvetica, sans-serif;
line-height:1;
}
.domicilios , .telefonos{
	font-weight:bold;
font-style:oblique;
font-family:arial, helvetica, sans-serif;
font-size:16px;
text-align:center;
}
 tbody tr:hover {
	background-color: #ba4c4c;
}

.e_n_button {
	background-color:#bd3838;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #6b1515;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:8px 15px;
	text-decoration:none;
	margin: 10px 10px 10px 10px;
}
.e_n_button:hover {
	background-color:#e68787;
}
.e_n_button:active {
	position:relative;
	top:1px;
}

