#header {
	margin: 20px 10px 20px 10px;
}
#contenido {
	margin: 20px 10px 20px 10px;

}
#header_button {
	margin-left: 10px;
	margin-right: 33%;
	margin-bottom: 10px;
}
#pedidoslist {
	margin-left: 10px;
	margin-bottom: 10px;
}
.pedido{
	margin-top: 10px;
	
}
.txt{
	margin-left: 10px;

}